{% load static %}
<header>
    <a href="{% url 'index'%}"><img src="{% static 'img/Instagram_logo.png'%}" alt=""></a>
    <input type="search" placeholder="&#xF002;     Pesquisar" style="font-family:Arial, FontAwesome">
    <div class="headerIconsContainer">
        <a href="{% url 'index'%}" class="headerIconsItem">
            <i class="fa-house fa-solid" style="
            color: 
            {% if request.path == "/" %}
            black
            {% else %}
            #0005
            {% endif %}
            "></i>
        </a>
        <a class="headerIconsItem" href="{% url 'chat' %}">
            <i class="fa-brands fa-facebook-messenger" style="
            color: 
            {% if "/direct/inbox" in request.path %}
            black
            {% else %}
            #0005
            {% endif %}
            "></i>
        </a>
        <a href="{% url 'publish'%}" class="headerIconsItem">
            <i class="fa-solid fa-square-plus" style="
            color: 
            {% if request.path == "/publish" %}
            black
            {% else %}
            #0005
            {% endif %}
            "></i>
        </a>
        <a class="headerIconsItem" href="{% url 'discover'%}">
            <i class="fa-regular fa-compass" style="
            color: 
            {% if request.path == "/discover" %}
            black
            {% else %}
            #0005
            {% endif %}
            "></i>
        </a>
        <a href="{% url 'logout' %}" class="headerIconsItem"><i class="fa-solid fa-right-from-bracket"></i></a>
        <a href="{% url 'profile' user.id %}" class="headerIconsProfile"><img class="profile_photo" src="{{ user.profile.photo_100.url }}" alt=""></a>
    </div>
</header>