{% load static %}
<header>
    <a href="{% url 'index'%}"><img src="{% static 'img/Instagram_logo.png'%}" alt=""></a>
    <input type="search" placeholder="&#xF002;     Pesquisar" style="font-family:Arial, FontAwesome">
    <div class="headerIconsContainer">
        <a href="{% url 'index'%}"><i class="houseIcon _icon_"></i></a>
        <a><i class="messengerIcon _icon_"></i></a>
        <a href="{% url 'publish'%}"><i class="plusSquareIcon _icon_"></i></a>
        <a><i class="heartIcon _icon_"></i></a>
        <a href="{% url 'logout' %}"><i class="logOutIcon _icon_"></i></a>
        <a><img class="profile_photo" src="{{ user.profile.photo.url }}" alt=""></a>
    </div>
</header>