main{
    margin-top: 50px;
    background-color: #fff;
    width: 40vw;
    min-height: 500px;
    height: fit-content;
    border: 1px solid #0005;
    box-shadow: 1px 1px 5px #0005;
}
h2{
    text-align: center;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
}
textarea{
    resize: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}
textarea:focus{
    outline: none;
}
label{
    margin: 20px 0;
}
input[type=submit]{
    border: none;
    background-color: #B2DFFC;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    cursor: pointer
}