{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/globalStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css'%}">

    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="publications">
                {% if fotos %}
                {% for item in fotos %}
                <div class="publications_item">
                    <div class="publications_item-header">
                        <div class="pub_item-profile">
                            <a class="publications_item-profileContainer" href="{% url 'profile' item.profile.id %}">
                                <img class="profile_photo" src="{{ item.profile.profile.photo_100.url }}" alt="">
                            </a>
                            <a class="profilename" href="{% url 'profile' item.profile.id %}">{{ item.profile}}</a>
                        </div>
                        <button class="icons_public-EllipsisIcon">
                            <a href="{% url 'edit' item.id %}"><i class="fa-solid fa-ellipsis"></i></a>
                        </button>
                    </div>
                    <a href="{% url 'photo' item.id %}">
                        <img class="publications_item-img" src="{{item.photo.url}}" alt="">
                    </a>
                    <div class="icons_public">
                        <div class="icons_public-left">
                            <form action="{% url 'likePost' item.id %}" method='POST' class="likeform" id='{{ item.id }}'>
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="icons_public_button" type="submit" {% if user in item.likes.all %}style="color:red"{% endif %}>
                                    <i class="fa-heart {% if user in item.likes.all %} fa-solid {% else %} fa-regular{% endif %}"></i>
                                </button>
                            </form>
                            <form>
                                <button class="icons_public_button" type="button"><i class="fa-solid fa-comment"></i></button>
                            </form>
                            <button type="button" class="icons_public_button"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                        <form action="{% url 'savePost' item.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="icons_public_button"><i class= {% if item in user.profile.saved.all %} "fa-solid fa-bookmark" {% else %} "fa-regular fa-bookmark" {% endif %}></i> </button>
                        </form>
                        
                    </div>
                    {% if item.likes.count > 0 %}
                    <p class="curtidoPor">
                        Curtido por {% with item.likes.all|first as last_like %}{{last_like}}{% endwith %}
                        {% if item.likes.count > 1 %}e outra{% if item.likes.count > 2 %}s{% endif %}
                        {{item.likes.count|add:"-1"}} pessoa{% if item.likes.count > 2 %}s{% endif %}
                        {% endif %}
                    </p>
                    {% endif %}
                    <div class="publications_description">
                        {% if item.description %}
                        <strong>{{ item.profile }}</strong> {{ item.description }}
                        {% endif %}
                    </div>
                    {% if item.comments.count > 0 %}
                    <a href="{% url 'photo' item.id %}" class="verComentarios">Ver todos os {{item.comments.count}} comentários</a>
                    {% endif %}
                    <form class="publications_comment" method="POST" action="{% url 'commentPost' item.id %}" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="emojiButton"><i class="fa-solid fa-face-grin"></i></button>
                        <input type="text" placeholder="Adicione um comentário" name="commentary">
                        <button type="submit" class="comment-publish">Publicar</button>
                    </form>
                </div>
                {% endfor %}
                {% else %}
                
                {% endif %}
            </div>
        </main>
    </section>
    <style>
        .headerIconsContainer a:nth-child(4){
            color: black;
        }
    </style>
{% endblock %}