{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/globalStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css'%}">

    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="publications">
                {% if fotos %}
                    {% for item in fotos %}
                        {% include 'partials/_publication.html' %}
                    {% endfor %}
                {% endif %}
            </div>
        </main>
        <div class="right">
            <div class="right_suggestionAccount">
                {% if suggestUsers %}
                <h2>Sugestões para você</h2>
                {% for item in suggestUsers %}
                <a class="right_suggestedAccount" href="{% url 'profile' item.id %}">
                    <div>
                        <img src="{{item.profile.photo_100.url}}" class="profile_photo" alt="">
                        <p>{{item.username}}</p>
                    </div>
                    <p>
                        {% if item in user.profile.following.all %}
                        Seguindo
                        {% else %}
                        Seguir
                        {% endif %}
                    </p>
                </a>
                {% endfor %}
                {% endif %}
            </div>
            <div class="right_suggestionAccount">
                {% if followed %}
                <h2>Seguidos</h2>
                {% for item in followed %}
                <a class="right_suggestedAccount" href="{% url 'profile' item.id %}">
                    <div>
                        <img src="{{item.profile.photo_100.url}}" class="profile_photo" alt="">
                        <p>{{item.username}}</p>
                    </div>
                    <p>
                        {% if item in user.profile.following.all %}
                        Seguindo
                        {% else %}
                        Seguir
                        {% endif %}
                    </p>
                </a>
                {% endfor %}
                {% endif %}
            </div>
            {% include 'partials/_footer.html' %}
        </div>
    </section>
{% endblock %}