{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/globalStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css'%}">

    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="publications">
                {% if fotos %}
                    {% for item in fotos %}
                        {% include 'partials/_publication.html' %}
                    {% endfor %}
                {% else %}
                    Sem posts? Experimente ir no <a href="{% url 'discover' %}">descubra</a>
                {% endif %}
            </div>
        </main>
        <div class="right">
            <a href="{% url 'profile' user.id %}" class="right_your_account">
                <img class="profile_photo" src="{{ user.profile.photo_256.url }}" alt="">
                <div>
                    <p>{{user.username}}</p>
                </div>
            </a>
            <div class="right_suggestionAccount">
                <h2>Sugestões para você</h2>
                {% for item in sugestions %}
                <a class="right_suggestedAccount" href="{% url 'profile' item.id %}">
                    <div>
                        <img src="{{item.profile.photo_100.url}}" class="profile_photo" alt="">
                        <p>{{item.username}}</p>
                    </div>
                    <p>
                        {% if item in user.profile.following.all %}
                        Seguindo
                        {% else %}
                        Seguir
                        {% endif %}
                    </p>
                </a>
                {% endfor %}
            </div>
            {% include 'partials/_footer.html' %}
        </div>
    </section>
    <script type="text/javascript">
        //ajax
        $(document).on('submit', '#likeform', function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: '/like/' + e.target.name,
                data: {
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                    console.log(data);
                    
                    if ($(`i#likebtn${e.target.name}`).hasClass('fa-regular')){
                        $(`i#likebtn${e.target.name}`)
                        .removeClass('fa-regular')
                        .addClass('fa-solid')
                        .css('color', 'red')
                    } else {
                        $(`i#likebtn${e.target.name}`)
                        .removeClass('fa-solid')
                        .addClass('fa-regular')
                        .css('color', 'black')
                    }
                }
            });
        })

        $(document).on('submit', '#savePost', function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: '/save/' + e.target.name,
                data: {
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                    console.log(data);
                    if ($(`i#savebtn${e.target.name}`).hasClass('fa-regular')){
                        $(`i#savebtn${e.target.name}`).removeClass('fa-regular').addClass('fa-solid')
                    } else {
                        $(`i#savebtn${e.target.name}`).removeClass('fa-solid').addClass('fa-regular')
                    }
                }
            });
        })
        $(document).on('submit', '#makeacomment', function(e){
            e.preventDefault();
            let comment = $(`#comment${e.target.name}`).val()
            $.ajax({
                type:'POST',
                url: '/comment/' + e.target.name,
                data: {
                    commentary: comment,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                    console.log(data);

                    $(`#mycomments${e.target.name}`).append(
                        '<p><strong>{{user.username}}</strong>' + comment + '</p>'
                    ).css('margin-bottom', '5px')
                    $(`#comment${e.target.name}`).val('')
                    $(`#countComments${e.target.name}`)
                    .text((parseInt($(`#countComments${e.target.name}`).text()) + 1))
                }
            });
            
        })
    </script>
{% endblock %}