{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/section.css'%}">
    <link rel="stylesheet" href="{% static 'css/foto.css'%}">
    <style>
        *{
            font-family: "Noto sans", 'sans-serif';
        }
    </style>
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="photo">
                <img src="{{foto.photo.url}}" alt="">
            </div>
            <div class="infos">
                <div class="right_bar">
                    
                    <div class="infos-header">
                        <div class="infos-profile">
                            <a class="infos-profileContainer" href="">
                                <img class="profile_photo" src="{{ foto.profile.profile.photo_100.url }}" alt="">
                            </a>
                            <a class="profilename" href="">{{foto.profile}}</a>
                        </div>
                        <button><i class="ellipsisIcon _icon_"></i></button>
                    </div>
                    <div class="commentaries">
                        <div class="infos_commentary infos_description">
                            <div class="infos-profile">
                                <a class="infos-profileContainer" href="">
                                    <img class="profile_photo" src="{{foto.profile.profile.photo_100.url}}" alt="">
                                </a>
                            </div>
                            <div class="infos-profile_commentary">
                                <a class="profilename_commentary" href="">{{foto.profile.username}}</a>
                                <p>{{foto.description}}</p>
                            </div>
                            
                        </div>
                        {% if foto.comments %}
                        {% for item in foto.comments.all %}
                        <div class="infos_commentary">
                            <div class="infos-profile">
                                <a class="infos-profileContainer" href="{% url 'profile' item.profile.id %}">
                                    <img class="profile_photo" src="{{item.profile.profile.photo_100.url}}" alt="">
                                </a>
                            </div>
                            
                            <div class="infos-profile_commentary">
                                <a class="profilename_commentary" href="{% url 'profile' item.profile.id %}">{{item.profile.username}}</a>
                                <p>{{item.body}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="icons_public">
                    <div>
                        <form action="{% url 'likePost' foto.id %}" method='POST' class="likeform" id='{{ item.id }}'>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="icons_public_button" {% if user in foto.likes.all %}style="color:red"{% endif %}>
                                <i class="fa-heart {% if user in foto.likes.all %} fa-solid {% else %} fa-regular{% endif %}"></i>
                            </button>
                        </form>
                        <form>
                            <button type="button" class="icons_public_button"><i class="fa-solid fa-comment"></i></button>
                        </form>
                        <button type="button" class="icons_public_button"><i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                    <form action="{% url 'savePost' foto.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="icons_public_button"><i class= {% if foto in user.profile.saved.all %} "fa-solid fa-bookmark" {% else %} "fa-regular fa-bookmark" {% endif %}></i> </button>
                    </form>
                </div>
                {% if foto.likes.count > 0 %}
                <p>Curtido por {% with foto.likes.all|first as last_like %}{{last_like}}{% endwith %}
                    {% if foto.likes.count > 1 %}e outra{% if foto.likes.count > 2 %}s{% endif %}
                    {{foto.likes.count|add:"-1"}} pessoa{% if foto.likes.count > 2 %}s{% endif %}
                    {% endif %}</p>
                {% endif %}
                <form class="publications_comment" action="{% url 'commentPost' foto.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="emojiButton"><i class="fa-solid fa-face-grin"></i></button>
                    <input type="text" placeholder="Adicione um comentário" name="commentary">
                    <button type="submit" class="comment-publish">Publicar</button>
                </form>
            </div>
        </main>
    </section>
{% endblock  %}