main{
    width: 80vw;
}
.up{
    min-height: 200px;
    height: fit-content;
    display: flex;
    margin-top: 70px;
    
}
.profilePhoto {
    margin-left: 70px;
    margin-right: 70px;
}
.profilePhoto img{
    border-radius: 50%;
    height: 170px;
    width: 170px;
    object-fit: cover;
}
.profileInfosLine1{
    font-size: 22px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 130px 130px;
    column-gap: 5px;
}
.profileInfosLine1_button {
    border: 1px solid #0005;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.profileInfosLine1_button1 {
    border: none;
    color: white;
    background-color: #0095F6;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}
.profileInfosLine1_button2 {
    border: 1px solid #0004;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
}
.profileInfosLine2{
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.profileInfosLine3{
    margin-top: 20px;
    width: 400px;
}
.menuButtons{
    border-top: 1px solid #0001;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.menuButtons a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 10px 10px;
    opacity: 0.2;
    cursor: pointer;
    text-decoration: none;
}
.menuButtons svg{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.active {
    border-top: 1px solid black;
    opacity: 2 !important;
}
.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.6vw;
}
.itemPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.itemPhoto img{
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}
.likeComments{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.8vw;
    right: 0.8vw;
    background-color: #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease 0.1s;
    color: white;
    font-size: 20px;
}
.likeComments div{
    margin: 10px;
}
.likeComments:hover{
    opacity: 1;
}