.right{
    width: 20vw;
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.right_your_account{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
}
.right_your_account img{
    width: 70px;
    height: 70px;
}
.right_your_account > div{
    margin-left: 20px;
}
.right_your_account p{
    color: #000;
    font-size: 14px;
}
.right_your_account span{
    color: #000a;
    font-size: 16px;
}

.right_suggestionAccount{

}
.right_suggestionAccount h2{
    color: #989898;
    font-size: 14px;
}
.right_suggestedAccount{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.right_suggestedAccount > div{
    display: flex;
    align-items: center;
}
.right_suggestedAccount img{
    width: 40px;
}
.right_suggestedAccount p{
    margin-left: 5px;
}
.right_suggestedAccount > p{
    color: #0999F6;
}