{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/globalStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css'%}">
    <link rel="stylesheet" href="{% static 'css/publications.css'%}">
    <link rel="stylesheet" href="{% static 'css/right.css' %}">
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="publications">
                <div class="publications_item">
                    <div class="publications_item-header">
                        <div class="pub_item-profile">
                            <a class="publications_item-profileContainer" href="">
                                <img class="profile_photo" src="{% static 'img/userIcon.jpg'%}" alt="">
                            </a>
                            <a class="profilename" href="">Fulano</a>
                        </div>
                        <button><i class="ellipsisIcon _icon_"></i></button>
                    </div>
                    <img class="publications_item-img" src="{% static 'img/publicPhoto.jfif'%}" alt="">
                    <div class="icons_public">
                        <div>
                            <button><i class="heartIcon _icon_"></i></button>
                            <button><i class="commentIcon _icon_"></i></button>
                            <button><i class="shareIcon"></i></button>
                        </div>
                        <button><i class="saveIcon"></i></button>
                    </div>
                    <div class="publications_description">
                        <strong>Fulano</strong> descrição
                    </div>
                    <div class="publications_othercomments">
                        <p><strong>siclano</strong> muito bom</p>
                        <p><strong>siclano</strong> muito bom</p>
                    </div>
                    <form class="publications_comment">
                        <button class="emojiButton"><i class="_icon_ smileEmojiIcon"></i></button>
                        <input type="text" placeholder="Adicione um comentário">
                        <button type="submit" class="comment-publish">Publicar</button>
                    </form>
                </div>
            </div>
        </main>
        <div class="right">
            <a href="" class="right_your_account">
                <img class="profile_photo" src="{{ user.profile.photo.url }}" alt="">
                <div>
                    <p>{{user.username}}</p>
                </div>
            </a>
            <div class="right_suggestionAccount">
                <h2>Sugestões para você</h2>
                <a class="right_suggestedAccount" href="">
                    <div>
                        <img src="{% static 'img/userIcon1.jpg'%}" class="profile_photo" alt="">
                        <p>Ciclano</p>
                    </div>
                    <p>Seguir</p>
                </a>
                
            </div>
            {% include 'partials/_footer.html' %}
        </div>
    </section>
    
{% endblock %}