{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/publicar.css'%}">
    <link rel="stylesheet" href="{% static 'css/chat.css'%}">
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="left">
                <div class="left_up">
                    {{user.username}}
                </div>
                <div class="left_profiles">
                    {% for conta in contas %}
                    <a class="left_profile" href="{% url 'chatSomeone' conta.id %}">
                        <div class="left_profile-container">
                            <img src="{{conta.profile.photo_100.url}}" alt="" class="userAvatar">
                            <div class="left_profile-infos">
                                <span class="profileUsername">{{conta.username}}</span>
                                <span class="profileLastMessage">ultimamsgkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</span> 
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="rightChat">
                <div class="right_header">
                    <a  href="{% url 'profile' conta.id %}" class="right_headerContainer">
                        <img src="{{conta.profile.photo_100.url}}" class="right_headerProfile" alt="">
                        {{conta.username}}
                    </a>
                </div>
                <div class="right_msgs" id="msgContainer">
                    {% for msg in messages %}
                    {% if msg.sender == user %}
                    <div class="mymsg">
                        <div class="myballon">
                            {{msg.message}}
                        </div>
                    </div>
                    {% else %}
                    <div class="hismsg">
                        <div class="hisballon">
                            <div class="triangle"></div>
                            <div class="triangle1"></div>
                            {{msg.message}}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <form class="right_msgs-inputs" id="sendmsg">
                    {% csrf_token %}
                    <input type="text" id="msgbox" class="right_input" placeholder="Mensagem...">
                    <button type="submit" class="right_submitButton">Enviar</button>
                </form>
            </div>
        </main>
    </section>
    <style>
        .headerIconsContainer a:nth-child(2){
            color: black;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            let messages = [];
            setInterval(function(){
                $.ajax({
                    type:'GET',
                    url: '/direct/getMessage/{{conta.id}}',
                    success: function(res){
                        if (messages.length != res.messages.length) {
                            messages = res.messages;
                            
                            $('#msgContainer').empty();
                            messages.forEach((msg) => {
                                let temp;
                                if (msg.sender_id == {{user.id}}){
                                    temp = `
                                    <div class="mymsg">
                                        <div class="myballon">
                                            ${msg.message}
                                        </div>
                                    </div>
                                    `;
                                } else {
                                    temp = `
                                    <div class="hismsg">
                                        <div class="hisballon">
                                            <div class="triangle"></div>
                                            <div class="triangle1"></div>
                                            ${msg.message}
                                        </div>
                                    </div>
                                    `;
                                };
                                $('#msgContainer').append(temp);
                            })
                            $('#msgContainer').scrollTop($('#msgContainer').prop("scrollHeight"));
                        }
                        
                    },
                    error: function(res){
                        console.log('ERROR');
                    }
                })
            }, 1000)
        });

        //ajax
        $(document).on('submit', '#sendmsg', function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: '/direct/inbox/{{conta.id}}',
                data: {
                    message: $('#msgbox').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                    console.log(data);
                    
                    $('#msgContainer').scrollTop($('#msgContainer').prop("scrollHeight"));
                }
            });
            document.getElementById("msgbox").value = "";
        })
    </script>
{% endblock %}