{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/section.css'%}">
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    <link rel="stylesheet" href="{% static 'css/icons.css'%}">
    <style>
        *{
            font-family: "Noto sans", 'sans-serif';
        }
    </style>
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="up">
                <div class="profilePhoto">
                    <img src="{{user.profile.photo_256.url}}" alt="">
                </div>
                <div class="profileInfos">
                    <div class="profileInfosLine1">
                        {{user.username}}
                        <a type="button" class="profileInfosLine1_button">Editar Perfil</a>
                    </div>
                    <div class="profileInfosLine2">
                        <p>{{user.fotos.count}} publicações</p>
                        <p>{{user.followers.count}} seguidores</p>
                        <p>{{user.profile.following.count}} seguindo</p>
                    </div>
                    <div class="profileInfosLine3">
                        {{user.profile.description}}
                    </div>
                </div>
            </div>
            <div class="menuButtons">
                <a type="button" href="{% url 'profile' user.id %}"><i class="tableCellsIcon"></i>Publicações</a>
                <a class="active" type="button"><i class="saveIcon"></i> Salvos</a>
            </div>

            <div class="photos">
                {% if fotos %}
                {% for item in fotos %}
                <a class="itemPhoto" href="{% url 'photo' item.id %}">
                    <img src="{{item.photo.url}}" alt="">
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </main>
    </section>
{% endblock %}