    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/section.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/icons.css">
    <style>
        *{
            font-family: "Noto sans", 'sans-serif';
        }
    </style>
</head>
<body>
    <header>
        <img src="img/Instagram_logo.png" alt="">
        <input type="search" placeholder="&#xF002;     Pesquisar" style="font-family:Arial, FontAwesome">
        <div class="headerIconsContainer">
            <button><i class="houseIcon _icon_"></i></button>
            <button><i class="messengerIcon _icon_"></i></button>
            <button><i class="plusSquareIcon _icon_"></i></button>
            <button><i class="heartIcon _icon_"></i></button>
            <button><i class="logOutIcon _icon_"></i></button>
            <button><img src="../img/userIcon.jpg" class="profile_photo" alt=""></button>
        </div>
    </header>
    <section>
        <main>
            <div class="up">
                <div class="profilePhoto">
                    <img src="img/userIcon.jpg" alt="">
                </div>
                <div class="profileInfos">
                    <div class="profileInfosLine1">
                        nome
                        <button>Editar Perfil</button>
                    </div>
                    <div class="profileInfosLine2">
                        <p>n publicações</p>
                        <p>n seguidores</p>
                        <p>n seguindo</p>
                    </div>
                    <div class="profileInfosLine3">
                        Descrição Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, aut. Possimus deserunt reprehenderit pariatur laboriosam officia repellat, dolore sunt labore provident molestiae facilis, debitis repellendus distinctio libero quaerat quas magnam.
                    </div>
                </div>
            </div>
            <div class="menuButtons">
                <a type="button" href=""><i class="tableCellsIcon"></i>Publicações</a>
                <a class="active" type="button"><i class="saveIcon"></i> Salvos</a>
            </div>

            <div class="photos">
                <a class="itemPhoto" href="">
                    <img src="img/userIcon1.jpg" alt="">
                </a>
                <a class="itemPhoto" href="">
                    <img src="img/userIcon1.jpg" alt="">
                </a>
                <a class="itemPhoto" href="">
                    <img src="img/userIcon1.jpg" alt="">
                </a>
            </div>
        </main>
    </section>