{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/section.css'%}">
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    <style>
        *{
            font-family: "Noto sans", 'sans-serif';
        }
    </style>
</head>
<body>
    {% include 'partials/_header.html' %}
    <section>
        <main>
            <div class="up">
                <div class="profilePhoto">
                    <img src="{{profile.profile.photo_256.url}}" alt="">
                </div>
                <div class="profileInfos">
                    <div class="profileInfosLine1">
                        {{profile.username}}
                        {% if profile == user %}
                        <a type="button" class="profileInfosLine1_button" href="{% url 'editarPerfil' %}">Editar Perfil</a>
                        {% else %}
                        <form method="POST" action="{% url 'follow' profile.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="profileInfosLine1_button{% if profile in user.profile.following.all %}2{% else %}1{% endif %}">
                                {% if profile in user.profile.following.all %}Deixar de seguir{% else %}Seguir{% endif %}
                            </button>
                        </form>
                        <a href="{% url 'chatSomeone' profile.id %}" type="button" class="profileInfosLine1_button2">Mandar mensagem</a>
                        {% endif %}
                        
                    </div>
                    <div class="profileInfosLine2">
                        <p>{{fotos.count}} publicações</p>
                        <p>{{profile.followers.count}} seguidores</p>
                        <p>{{profile.profile.following.count}} seguindo</p>
                    </div>
                    <div class="profileInfosLine3">
                        {% if user.profile.description.length > 0 %}
                        {{user.profile.description}}
                        {% else %}
                        {% if profile == user %}
                        Não há descrição disponível. Atualize-a <a href="{% url 'editarPerfil' %}">aqui</a>
                        {% endif %}
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="menuButtons">
                <a class="active" type="button"><i class="tableCellsIcon"></i>Publicações</a>
                {% if user == profile %}
                <a type="button" href="{% url 'profilesaved' %}"><i class="saveIcon"></i> Salvos</a>
                {% endif %}
            </div>
            <div class="photos">
                {% if fotos %}
                {% for foto in fotos %}
                <a class="itemPhoto" href="{% url 'photo' foto.id %}">
                    <img src="{{foto.photo_512.url}}" alt="">
                    <div class="likeComments">
                        <div>
                            <i class="fa-solid fa-heart"></i> {{foto.likes.count}}
                        </div>
                        <div>
                            <i class="fa-solid fa-comment"></i> {{foto.comments.count}}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </main>
    </section>
{% endblock %}